.container {
    @media screen and (min-width: $screen-lg-min) {
        max-width: 1280px !important;
        width: 1280px !important;
        margin-right: auto;
        margin-left: auto;
    }
}

#subNavbarContent {
    ul {
        display: table;
        width: 100%;
        li {
            display: table-cell;
        }
    }
}

body {
    @media screen and (max-width: $screen-xs-min) {
        display: block !important;
        position: absolute;
    }
}