<section class="overview-component-template container">
    <ngb-tabset>
        <ngb-tab title="Affected Elements">
            <template ngbTabContent>
      <h3>Affected Elements</h3>

           <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Failure</th>
                        <th>Created AT</th>
                        <th>Updated AT</th>
                        <th>Attributes (zip_code4,zip_code)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  class="clickalble" *ngFor="let affectedElement of affectedElementList.results | orderBy: ['-id']; let i = index;">
                        <th scope="row">{{affectedElement.id}}</th>
                        <td>{{affectedElement.failure}}</td>
                        <td>{{affectedElement.created_at | date:"dd-MMM-yyyy hh:mm:ss"}}</td>
                        <td>{{affectedElement.updated_at | date:"dd-MMM-yyyy hh:mm:ss"}}</td>
                         <td>{{affectedElement.attributes.zip_code4}},{{affectedElement.attributes.zip_code}}</td>
                    </tr>
                </tbody>
            </table>


    </template>
        </ngb-tab>
        <ngb-tab title="Affected Customers">
            <template ngbTabContent>
      <h3>Affected Customers</h3>
       <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Failure</th>
                        <th>Created AT</th>
                        <th>Updated AT</th>
                        <th>Attributes (zip_code4,zip_code)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  class="clickalble" *ngFor="let affectedElement of affectedElementList.results | orderBy: ['-id']; let i = index;">
                        <th scope="row">{{affectedElement.id}}</th>
                        <td>{{affectedElement.failure}}</td>
                        <td>{{affectedElement.created_at | date:"dd-MMM-yyyy hh:mm:ss"}}</td>
                        <td>{{affectedElement.updated_at | date:"dd-MMM-yyyy hh:mm:ss"}}</td>
                         <td>{{affectedElement.attributes.zip_code4}},{{affectedElement.attributes.zip_code}}</td>
                    </tr>
                </tbody>
            </table>

    </template>
        </ngb-tab>
    </ngb-tabset>
</section>