<section class="overview-component-template container">
    <ngb-tabset>
        <ngb-tab title="Affected Elements">
            <template ngbTabContent>
      <h3>Affected Elements</h3>
      <div *ngIf="affectedElementList && affectedElementList.results && affectedElementList.results.length <= 0">
          <p class="text-center"> No Data Found .</p>
      </div>
           <table class="table table-striped" *ngIf="affectedElementList && affectedElementList.results && affectedElementList.results.length > 0">
                <thead>
                    <tr>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Elements</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let affectedElement of affectedElementList.results | orderBy: ['-id']; let i = index; trackBy:trackByFn;">
                        <td>{{affectedElement.created_at | date:"dd-MMM-yyyy HH:mm:ss"}}</td>
                        <td>{{affectedElement.updated_at | date:"dd-MMM-yyyy HH:mm:ss"}}</td>
                        <td>{{affectedElement.attributes.zip_code}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="has-text-centered">
                <ngb-pagination (pageChange)="pageChange($event,'ELEMENTS')" [pageSize]="sizePerPage" [collectionSize]="affectedElementList.count" [(page)]="currentPage" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
            </div>

    </template>
        </ngb-tab>
        <ngb-tab title="Affected Customers">
            <template ngbTabContent>
      <h3>Affected Customers</h3>
      <div *ngIf="affectedCoustomerList && affectedCoustomerList.results && affectedCoustomerList.results.length <= 0">
          <p class="text-center"> No Data Found .</p>
      </div>
       <table class="table table-striped" *ngIf="affectedCoustomerList && affectedCoustomerList.results && affectedCoustomerList.results.length > 0">
                <thead>
                    <tr>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Elements</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let affectedCoustomer of affectedCoustomerList.results | orderBy: ['-id']; let i = index; trackBy:trackByFn;">
                         <td>{{affectedCoustomer.created_at | date:"dd-MMM-yyyy HH:mm:ss"}}</td>
                        <td>{{affectedCoustomer.updated_at | date:"dd-MMM-yyyy HH:mm:ss"}}</td>
                        <td>{{affectedCoustomer.attributes.zip_code}}</td>
                    </tr>
                </tbody>
            </table>
           <div class="has-text-centered">
                <ngb-pagination (pageChange)="pageChange($event,'CUSTOMERS')" [pageSize]="sizePerPage" [collectionSize]="affectedCoustomerList.count" [(page)]="currentPage" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
            </div>
    </template>
        </ngb-tab>
    </ngb-tabset>

    <div class="row">
        <button type="button" (click)="redirectToParent()" class="btn btn-primary">Back</button>
    </div>
</section>