<section class="broadbond-component-template">

    <div *ngIf="addOrUpdateMode" class="jumbotron container">
        <div class="alert alert-danger" *ngIf="errors && errors.apiError.length > 0">
            <span *ngFor="let error of errors.apiError"> <strong>{{error}}</strong></span>
        </div>

        <div class="alert alert-danger" *ngIf="errors && errors.apiError.service && errors.apiError.service.length > 0">
            <span *ngFor="let serviceError of errors.apiError.service"> <strong>{{serviceError}}</strong></span>
        </div>
        <div class="alert alert-danger" *ngIf="errors && errors.apiError.start_date && errors.apiError.start_date.length > 0">
            <span *ngFor="let dateError of errors.apiError.start_date"> <strong>{{dateError}}</strong></span>
        </div>
        <div class="alert alert-danger" *ngIf="errors && errors.apiError.end_date && errors.apiError.end_date.length > 0">
            <span *ngFor="let dateError of errors.apiError.end_date"> <strong>{{dateError}}</strong></span>
        </div>

        <form name="form" (ngSubmit)="f.form.valid && createFailure()" #f="ngForm" novalidate>
            <div class="row">
                <div class="form-group row">
                    <label class="col-2 col-form-label" for="cause">Cause</label>
                    <div class="col-6">
                        <select class="form-control" name="cause" [(ngModel)]="selectedCause.id" #cause="ngModel" required>
                        <option *ngFor="let cause of causeList" value= {{cause.id}}>
                            {{cause.value}}
                        </option>
                        </select>
                        <div *ngIf="f.submitted && !cause.valid" class="help-block">Cause is required</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group row">
                    <label class="col-2 col-form-label" for="type">Type</label>
                    <div class="col-6">
                        <select class="form-control" name="type" [(ngModel)]="selectedFailureTypes.id" #type="ngModel" required>
                        <option *ngFor="let failureType of failureTypesList" value= {{failureType.id}}>
                            {{failureType.value}}
                        </option>
                        </select>
                        <div *ngIf="f.submitted && !type.valid" class="help-block">Type is required</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label" for="password">Source</label>
                    <div class="col-6">
                        <select class="form-control" name="source" [(ngModel)]="selectedsource.id" #source="ngModel" required>
                        <option *ngFor="let source of sourceList" value= {{source.id}}>
                            {{source.value}}
                        </option>
                        </select>
                        <div *ngIf="f.submitted && !source.valid" class="help-block">Source is required</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group row">
                    <label class="col-2 col-form-label" for="startDate">Start date</label>
                    <div class="col-6">
                        <input (ngModelChange)="onSelectDate($event)" placeholder="dd-MM-yyyy" ngbDatepicker [ngClass]="{'form-control-success': startDate.valid && startDate.touched, 'form-control-danger': !startDate.valid && startDate.touched }" class="form-control" name="startDate"
                            [(ngModel)]="model.startDate" #startDate="ngbDatepicker" required />
                    </div>
                    <div class="col-4">
                        <i class="fa fa-calendar" aria-hidden="true" (click)="startDate.toggle()"></i>
                    </div>

                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label" for="endDate">End Date</label>
                    <div class="col-6">
                        <input (ngModelChange)="onSelectDate($event)" placeholder="dd-MM-yyy" ngbDatepicker [ngClass]="{'form-control-success': endDate.valid , 'form-control-danger': !endDate.valid }" class="form-control" name="endDate" [(ngModel)]="model.endDate" #endDate="ngbDatepicker"
                            required />
                    </div>
                    <div class="col-4">
                        <i class="fa fa-calendar" aria-hidden="true" (click)="endDate.toggle()"></i>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <button type="submit" [disabled]="loading || !f.valid" class="btn btn-primary">Create</button>
                <button type="button" [disabled]="loading" (click)="addOrUpdateMode = false" class="btn btn-primary">Back</button>
            </div>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>
    </div>

    <div *ngIf="!addOrUpdateMode" class="container">
        <div class="failure-list">
            <div class="row">
                <input type="search" id="inputType" class="form-control glyphicon-search-input" placeholder="Search String" [(ngModel)]="searchString">
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Region</th>
                        <th>State</th>
                        <th>Type</th>
                        <th>Service</th>
                        <th>Impact</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr (click)="redirectToOverview(failure.id)" class="clickalble" *ngFor="let failure of failureList | failureListfilter:searchString | orderBy: ['-id'] | paginate: { itemsPerPage: sizePerPage, currentPage: page } ; let i = index; trackBy:trackByFn;">
                        <th scope="row">{{failure.id}}</th>
                        <td>{{failure.region}}</td>
                        <td>{{failure.type}}</td>
                        <td>{{failure.state}}</td>
                        <td>-</td>
                        <td>-</td>
                        <td>{{failure.start_date | date:"dd-MMM-yyyy hh:mm:ss"}}</td>
                        <td>{{failure.end_date | date:"dd-MMM-yyyy hh:mm:ss"}}</td>
                        <td>
                            <i class="fa fa-trash-o" aria-hidden="true" title="Remove"></i>
                            <i (click)="updateFailure(failure)" class="fa fa-edit" title="Edit"></i>
                            <i class="fa fa-comments" aria-hidden="true" title="Chat"></i>
                            <i (click)="addNewFailure()" class="fa fa-plus" aria-hidden="true" title="Add"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="has-text-centered">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
</section>