<div class="container">
    <h1> Test Broadband page</h1>
    {{selectedUrl}}

    <div class="test-list">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Region</th>
                    <th>Type</th>
                    <th>Service</th>
                    <th>Service</th>
                    <th>Impact</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>